<div class="container">
    <!-- Heading -->
    <div class="position-relative d-flex text-center mb-5">
        <h2 class="text-24 text-light opacity-4 text-uppercase fw-600 w-100 mb-0">About Us</h2>
        <p class="text-9 text-dark fw-600 position-absolute w-100 align-self-center lh-base mb-0">Know Us
            More<span
                    class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span>
        </p>
    </div>
    <!-- Heading end-->
    <div class="row gy-5">
        <div class="col-lg-10 col-xl-12 text-center text-lg-start">
            <h2 class="text-7 fw-600 mb-3"><span class="text-primary">TechtoGreen</span></h2>
            <p>Our startup dedicated to bridging the gap between technology and sustainability. With a focus
                on creativity and innovation, we aim to design and deliver cutting-edge products that
                empower individuals and organizations to adopt eco-friendly practices without compromising
                efficiency or performance. From energy-efficient solutions to smart systems that promote a
                greener lifestyle, our mission is to revolutionize how technology can contribute to a
                sustainable future.</p>
            <p>At Tech to Green, we believe that true innovation lies in aligning progress with
                responsibility. Our team of forward-thinking experts combines expertise in technology,
                design, and environmental science to create solutions that inspire change and spark
                creativity. Whether it’s through sustainable product designs or smart applications tailored
                for green living, we are committed to driving impactful transformations that benefit our
                planet and future generations. Together, let's embrace a smarter, greener tomorrow!</p>
        </div>
    </div>
    <div class="brands-grid separator-border mt-5">
        <!-- Heading -->
        <div class="text-center mb-5">
            <p class="text-9 text-dark fw-600 lh-base mb-0">TechToGreen's Progress<span
                    class="heading-separator-line border-bottom border-3 border-primary d-block mx-auto"></span>
            </p>
        </div>
        <!-- Statistics -->
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0"><span class="counter" data-from="0"
                                                              data-to="7">7</span>+</h4>
                    <p class="mb-0">Years Experience</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0"><span class="counter" data-from="0"
                                                              data-to="10">10</span>+</h4>
                    <p class="mb-0">Patents</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0"><span class="counter" data-from="0"
                                                              data-to="15">15</span>+</h4>
                    <p class="mb-0">Projects Done</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="featured-box text-center">
                    <h4 class="text-12 text-muted mb-0"><span class="counter" data-from="0"
                                                              data-to="20">20</span>+</h4>
                    <p class="mb-0">Awards</p>
                </div>
            </div>
        </div>
    </div>
</div>